* {
  margin: 0px;
  padding: 0px;
}
/*img :background*/
#bg{
}
#bg_img{
  height: 100em;
  width: 100%;
  position: ;
  /*display: flex;*/
  margin-bottom: ;
}
/*body*/
button {
  height: 22px;
  width: 44px;
  font-family: monospace;
  font-size: 8px;
  color: black;
  background-color: white;
  border: 1px solid black;
}

/*Adjusting*/
#adj{
  background-color: black;
  min-height: 10px;
  min-width: 2px;
}
/*footer*/
.ftr {
  height: 500px;
  width: 100%;
  display:flex ;
  background-color: black;
  opacity: 0.3;
  margin-top: 0.1em;
}
#footer p {
  margin-left: 30px;
  font-style : bold;
  color: white;
  font-family: Monospace;
  font-size: 14px;
}

#topbutton{
  height: 22px;
  width: 44px;
  font-family: monospace;
  font-size: 8px;
  color: black;
  background-color: white;
  border: 1px solid black;
}